<!DOCTYPE html>
<html lang="en">
<head>
 QUIZ 2015 - <abbr lang="es" title="Computación en Red">CORE</abbr> - DIT UPM <br>
<link rel='stylesheet' href='/stylesheets/style.css' />


</head> 

<body>
  Raquel Cacho Zurrunero y Paula Valiente Peláez <br><br>

  <p><%- picture %></p>

<!-- <div id="imagen"><img src="nosotras.jpeg" width="20" height="40"> </div><br> -->

</body>