<!DOCTYPE html>
<html>
	<head>
		Añadir pregunta: <p>
	</head>
	<body>
		<form method="post" action="/quizes/create" enctype="multipart/form-data">
			<% include _form.ejs %>
		</form>
	</body>
</html>